
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build

# Static SSR build
/.firebase/

# Test results
/coverage

# Misc
.DS_Store
*.pem
*.log
*.patch

# Environment Variables
.env
.env*.local
!.env.example
!.env.sample

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# IntelliJ
.idea

# WebStorm
.idea/
*.iws

# Netlify
.netlify

# TypeScript
*.tsbuildinfo
next-env.d.ts
